.personal-website-container {
  background-color: #ECDFE6;
}

.header {
  height: 70px;
  padding: 10px;
  text-align: center;
  background: #A2C1C3;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}


.nav-container {
  font-size: 20px;
  margin-right: 40px;
}

.nav-content {
  margin: 5px;
  text-decoration: none;
}

.content {
  font-size: 30px;
  font-family: 'EB Garamond', serif;
  background: #DFEBEC;
  margin: auto;
  text-align: center;
}

.title-section {

}

.title {
  margin: auto;
  font-size: 35px;
  padding: 70px;
  display: inline-block;
}

.image-section {

}

.about-me {

}

.aca-certificate {
  Height: 200px;
  width: 260px;
}

.my-skills {

}


.headshot {
  display: block;
  width: 60%;
  height: 400px;
  margin: auto;
} 

.contact-icon {
  padding: 10px;
}

.footer {
  height: 40px;
  font-size: 18px;
  text-align: center;
  background: #A2C1C3;
  padding: 10px;
  text-align: center; 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer div {
  display: inline-block;
}

/* ProjectsPage */

.projects-container {
  font-family: 'EB Garamond', serif;
}

.projects-title {
  margin: 50px;
  font-size: 35px;
  text-align: center;
}

.happy-paws {
  margin: auto;
  width: 60%;
}

.happy-paws-title {
  text-align: center;
  font-size: 30px;
  margin: 20px;
}

.project-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.project-image {
  width: 320px;
  height: 240px;
}

.grad-video {

}

.project-about {
  font-size: 20px;
  margin: 20px;
}

.view-project {
  margin: 20px;
  font-size: 20px;
  text-align: center;
}

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: Black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: hotpink;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: Black;
  background-color: transparent;
  text-decoration: underline;
}