.personal-website-container {
  background-color: white;
}

body {
  display: block;
  border: 8px solid #C3A2BC;
  margin: 0;
}

.header {
  height: 60px;
  padding: 10px;
  background: #ECDFE9;
  display: flex;
  flex-direction: row;
  border: 1px solid white;
}


.nav-container {
  font-size: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}


.nav-contact {
  width: 50%;
  display: flex;
  justify-content: flex-start;
}

.nav-contact a {
  margin: 10px;
}

.nav-buttons  {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  transform: none;
}

.nav-link {
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 3px 3px #D8C0D3;
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
  letter-spacing: 2px;
  text-shadow: 1px 1px 1px pink;
  height: 30px;
  margin: 2.5px;
  padding-top: 5px;
  padding-left: 2px;
  padding-right: 2px;
  align-items: center;
}

.content {
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  background: white;
}



.title-section {

}

.title {
  margin: auto;
  font-size: 35px;
  padding: 70px;
  display: inline-block;
  font-family: 'Permanent Marker', cursive;
}

.image-section {

}

.about-me-title {
  padding: 50px;
  font-family: 'Permanent Marker', cursive;
  text-align: center;
}

.about-me-text {
  margin: auto;
  width: 50%;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding-bottom: 50px;
  border: 1px solid  #D8C0D3;
  box-shadow: 3px 3px #D8C0D3;
  border-radius: 5px;
  padding: 20px;
  font-size: 20px;
  background-image: url(https://images.unsplash.com/photo-1566041510394-cf7c8fe21800?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80);
}

.about-me {
  text-align: center;
}

.aca-certificate {
  Height: 300px;
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 3px 3px #D8C0D3;
}

.my-skills-title {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  padding: 50px;
}

.my-skills {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: start;
  width: 60%;
  padding: 30px;
  align-content: center;
  margin: auto;
  border: 1px solid;
  border-radius: 5px;
  width: 60%;
  padding: 10px;
  box-shadow: 5px 5px #D8C0D3;
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
}

.my-skills div {
  padding: 5px;
  margin: 10px;
}



.headshot {
  display: block;
  width: 60%;
  height: 400px;
  margin: auto;
  border-radius: 5px;
  box-shadow: 5px 5px #D8C0D3;
} 

.contact-me-title {
  padding-top: 50px;
  padding-bottom: 20px;
  font-family: 'Permanent Marker', cursive;
  text-align: center;
}

.contact-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 30px;
}

.contact-icons a {
  padding: 20px;
}

.contact-icons a :hover {
  transform: scale(1.3);
}

.contact-icons a {
  padding: 20px;
}

.footer {
  height: 40px;
  font-size: 18px;
  letter-spacing: 1px;
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  background: #ECDFE9;
  padding: 10px;
  text-align: center; 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}

.footer div {
  display: inline-block;
}

/* ProjectsPage */

.projects-container {
  font-family: 'Montserrat', sans-serif;
}

.projects-title {
  margin: 50px;
  font-size: 35px;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
}

.happy-paws {
  margin: auto;
  width: 60%;
}

.happy-paws-title {
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  margin: 20px;
  letter-spacing: 1px;
}

.project-container {
  display: flex;
  flex-direction: row;
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
  justify-content: space-evenly;
  box-shadow: 5px 5px #D8C0D3;
}

.project-image {
  width: 320px;
  height: 240px;
}

.grad-video {

}

.view-project {
  text-align: center;
  letter-spacing: 1px;
  
}

.view-project-link {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
  box-shadow: 3px 3px #D8C0D3;
  border-radius: 5px;
  margin: 5px;
  border: 1px solid black;
  letter-spacing: 2px;
}

.project-about {
  font-size: 20px;
  margin: 20px;
  letter-spacing: 1px;
}

.view-project {
  margin: 20px;
  font-size: 20px;
  text-align: center;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: Black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: hotpink;
  background-color: transparent;
  text-decoration: none;
  text-decoration: underline;
  font-weight: bold;
}

a:active {
  color: Black;
  background-color: transparent;
}

/* resume stuff */

.resume-container {
    background-image: url(https://images.unsplash.com/photo-1566041510394-cf7c8fe21800?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80);
}

.resume-title {
  font-family: 'Permanent Marker', cursive;
  font-size: 35px;
  text-align: center;
  margin: 50px;
}


.resume-section {
  
}

.resume {
  text-align: center;
  margin-bottom: 60px;
}

.resume-feild {
  box-shadow: 5px 5px #D8C0D3;
}


.my-education {
  font-family: 'Permanent Marker', cursive;
  font-size: 30px;
  margin: 50px;
  text-align: center;
}