.personal-website-container {
  background-color: #ECDFE6;
}

.header {
  padding: 10px;
  text-align: center;
  background: #A2C1C3;
  color: white;
  font-size: 20px;
}

.outer-container {

}

.nav-container {

}

.content {
  font-size: 30px;
  font-family: 'EB Garamond', serif;
  background: #DFEBEC;
  margin: auto;
  text-align: center;
}

.title-section {

}

.title {
  margin: auto;
  display: inline-block;
}

.image-section {

}

.about-me {

}

.my-skills {
  
}


.image {
  display: block;
  width: 60%;
  height: 400px;
  margin: auto;
} 

.footer {
  text-align: center;
}

.footer div {
  display: inline-block;
}